#root {
 text-align: center;
 display: flex;
 min-height: 100vh;
 align-items: center;
 justify-content: center;
 background-image: linear-gradient(79deg rgb(213, 82, 82)  rgb(213, 82, 82));
 
}
.App{
  text-align: center;
 display: flex;
 min-height: 100vh;
 align-items: center;
 justify-content: center;
 background-image: rgb(213, 82, 82);
 
 
}

.auth-form-container, .login-form, .register-form {
display: flex;
flex-direction: column;


}
 
label{
  text-align: left;
  padding: 0.25rem 0;

}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
button{
  border: none;

  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.link-btn{
  background-color:none;
  color:black;
  text-decoration: underline;

}
.auth-form-container{
  padding: 5rem;
  border: 1px solid black;
  background-color: rgba(21, 167, 159, 0.521)
}